img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #000;
}
a{
    color: black;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #000;
    padding: 10px;
    text-decoration: none;
    background-color: green;
}

.image-box {
    border: 2px solid #000;
    background-color: greenyellow;
}

p{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}
ol{
    font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

ul{
    font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}